<div class="container">
    <div class="home-header">
        <h1 class="page-title">My Dictionary</h1>
        
        @if (dictionaryState()) {
            <a routerLink="dictionaries/manage" class="navigation-link">{{dictionaryState()?.dbName}} &rsaquo;</a>
        }
    </div>

    @if (!dictionaryState()) {
        <p>No dictionary connected</p>
    
        <div class="row">
            <div class="col-12">
                <button type="button">
                    Open Existing Dictionary
                </button>
            </div>

            <div class="col-12">
                <app-create-dictionary></app-create-dictionary>
            </div>
        </div>
    }
</div>
