<div class="container">
    
    <div class="page-header">
        <a routerLink="/" class="navigation-link back-link">&larr;</a>
        <h1 class="page-title">Manage Dictionary</h1>
    </div>

    <p>Connected dictionary:</p>

    <p>{{ dictionaryState()?.dbName }} </p>
    <button type="button"> &#9998; </button>

    <div class="row">
        <div class="col-12">
            <button type="button">
                Download Dictionary
            </button>
        </div>

        <div class="col-12">
            <button type="button">
                Open Another Dictionary
            </button>
        </div>

        <div class="col-12">
            <button type="button">
                Create New Dictionary
            </button>
        </div>
        
        <div class="col-12">
            <button type="button" (click)="disconnectDictionary()">
                Disconnect Dictionary
            </button>
        </div>
    </div>
</div>