<a routerLink="/">&larr;</a>
<h1>Manage Dictionary</h1>

<p>Connected dictionary:</p>

<p>{{ name }} </p>
<button type="button"> &#9998; </button>

<div class="container">
    <div class="row">
        <button type="button" class="col-12">
            Download Dictionary
        </button>

        <button type="button" class="col-12">
            Disconnect Dictionary
        </button>
        
        <button type="button" class="col-12">
            Open Another Dictionary
        </button>

        <button type="button" class="col-12">
            Create New Dictionary
        </button>

    </div>
</div>